* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --color-dark: #242731;
  --color-dark2: #5f6165;
  --color-dark4: #7c7c8d;
  --color-dark5: #777e91;
  --color-white: #ffffff;
  --color-white2: #f3f5f8;
  --color-white3: #e6e8ec;
  --color-white4: #e0e4e7;
  --color-white5: #f4f5f6;
  --color-white6: #f5f5f5;
  --color-purple: #a162f7;
  --color-blue: #2884ff;
  --color-yellow: #f6cc0d;
  --color-red: #ff6370;
  --color-green: #70cf97;
  --color-orange: #ff764c;
  --color-border: #b1b5c3;
  --color-checkbox: #b1b5c4;
  --color-facebook: #4776d0;
  --size-4: 4px;
  --size-8: 8px;
  --size-10: 10px;
  --size-12: 12px;
  --size-14: 14px;
  --size-16: 16px;
  --size-18: 18px;
  --size-20: 20px;
  --size-24: 24px;
  --size-30: 30px;
  --size-32: 32px;
  --size-40: 40px;
  --size-54: 54px;
  --size-64: 64px;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: var(--size-16);
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
